# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text file types that should always use LF line endings
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

# Explicitly declare binary files that must not be modified by git
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.woff text eol=lf
*.woff2 text eol=lf
